@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline {
    position: relative;
}

.hover-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; /* Adjust the position of the underline */
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-out;
}

.hover-underline:hover::after {
    width: 100%;
}

